.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 300px;
  min-height: 100vh;
  height: 100%;
  color: white;
  background: #333744;
  overflow-y: auto;
}

.sidebar .options .list-group .list-group-item {
  background: transparent;
}
.sidebar .options .users-list {
  padding: 0;
  list-style: none;
}
.sidebar .options .users-list .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.sidebar .options .users-list .user p {
  margin: 0;
}

.sidebar .options .room {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .options .room .leave {
  padding: 4px 6px;
}
